body{
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#helpdiv{
    position:absolute;
    background-color:#1c77c3;
    color: white;
    border: solid;
    min-width: 500px;
    padding: 10px;
}

#help{
    background-color: #1c77c3;
    border: solid;
}

.form-container{
    width: 100%;
}

#select{
    float: left;
    width: 190px;
}

#textarea{  
    width: calc(100% - 200px);
    resize: both;
    margin-left: 10px;
}

.template-div{
    background-color:#e8e8e8;
}


.template-heading{
    background-color: #1d3557;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 5px;
}

#submit-bnt{
    background-color: #e63946;
}

.hiddden{
    display: none;
}

/* .subtree-list li{
    list-style-position: inside;
    padding: 0;
    border-left: solid 2px black;
    list-style-type:square;
   
} */
.subtree-list,
.subtree-list ul {
  margin:0 0 0 1em; /* indentation */
  padding:0;
  list-style:none;
  color:#1f1f1f;
  position:relative;
}

.subtree-list ul {margin-left:.5em} 

.subtree-list:before,
.subtree-list ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid;
}

.subtree-list li {
  margin:0;
  padding:0 1.5em; /* indentation + .5em */
  line-height:2em; /* default list item's `line-height` */
  font-weight:bold;
  position:relative;
}

.subtree-list li:before {
  content:"";
  display:block;
  width:10px; /* same with indentation */
  height:0;
  border-top:1px solid;
  margin-top:-1px; /* border top width */
  position:absolute;
  top:1em; /* (line-height/2) */
  left:0;
}

.subtree-list li:last-child:before {
  background:#fff; /* same with body background */
  height:auto;
  top:1em; /* (line-height/2) */
  bottom:0;
}

.subtree-list div{
  margin-left: 30px;
 /*# margin-top: 10px;*/
  margin-bottom: 10px;
}

.fa-plus-circle{
  color: green;
  font-size: 20px;
  cursor: pointer;
}

.close-btn{
  position:absolute;
  top: 0;
  right: 0;
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
  
}

.create-category-form{
  position:absolute;
  background-color: aqua;
  top : 30%;
  left: 30%;
  z-index: 2;
  padding: 20px;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.is-invalid{
  font-weight: bolder;
  color : red;
}

.invalid-blink{
  background-color: crimson;
}

.confirm-blink{
  background-color: forestgreen !important;
}


.tooltipp {
  position: relative;
  display: inline-block;
  margin-left: 5px !important;
}

.tooltipp .tooltipptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  width: 150px;

  /* Position the tooltipp */
  position: absolute;
  z-index: 1;
}

.tooltipp:hover .tooltipptext {
  visibility: visible;
}


.loader {
  position: relative;
  /* left: 30%;
  top: 50%; */
  padding : 25px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 80px;
  height: 80px;
  z-index: 102;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loader-space{
  position: absolute;
  width: inherit;
  width: calc(inherit-20px);
  height: inherit;
  z-index: 101;
  margin: -10px -10px;
  opacity: 0.6;
  background-color: rgb(225, 226, 225);
  display: flex;
  align-items: center;
  justify-content: center;
}

#results{

  height: 60vh;
  width: 100%;
 /* overflow-y: scroll; */
}

#results::after{
  content: "";
  display: table;
  clear: both;
}
#results-users{

    background-color: rgb(124, 207, 124);
    height: 60vh;
   /* overflow-y: scroll; */
}

#results-courses{
  height: 60vh;
 /* overflow-y: scroll; */
  background-color: rgb(157, 157, 241);
}

#results-categories{
  height: 60vh;
    overflow-y: scroll;
  background-color: rgb(255, 138, 138);
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
#results-courses,#results-users,#results-categories  {
  float: left;
  width: 33.33%;
  padding: 10px;
  /*min-height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #results-courses,#results-users,#results-categories {
    width: 100%;
  }
}

.hidden{
  display: none;
}

.user-list-ul{
  list-style:none;
  cursor: pointer;
  transition: all 2s ease-out;
  height: 55vh;
  overflow-y: scroll;
  padding: 10px;

}

.user-list-ul li{
  height: 3.5em;
  background-color: rgb(175, 238, 212);
  overflow: visible;
}


.user-list-ul li:nth-child(2n+1){
  background-color: paleturquoise;
}

.space-out{
  height: 5px !important;
  cursor: default !important;
  background-color: limegreen;
}


.course-list-ul{
  list-style:none;
  cursor: pointer;
  transition: all 2s ease-out;
  height: 55vh;
  overflow-y: scroll;
  padding: 10px;
}

.course-list-ul li{
  height: 75px;
  background-color: rgb(175, 238, 212);
  overflow: visible;
}


.course-list-ul li:nth-child(2n+1){
  background-color: paleturquoise;
}

.in-dragg{
  background-color: peru !important;
  cursor: grab;
}

.dragover{
  background-color: rgb(174, 205, 63) !important;
}

.dragover button{
  background-color: rgb(174, 205, 63) !important;
}

.category-drag-drop{
  cursor: pointer;
}

.category-drag-drop:active{
  cursor: grabbing;
}

.grabbing{
  cursor: grabbing !important;
}

.transition{
transform: translate(-50px);
color: blue;
position: relative;
transition: all 2s ease-out;
}

.user-list-li .user-more-info{
  display: none;
  position: relative;
  background-color: rgb(162, 226, 43);
  align-content:flex-end;
}

.user-list-li:hover .user-more-info {
  display:block;
  cursor: pointer;
}

.course-list-li .course-more-info{
  display: none;
  position: relative;
  background-color: rgb(162, 226, 43);
  align-content:flex-end;
}

.course-list-li:hover .course-more-info {
  display:block;
  cursor: pointer;
}

.course-fullname{
  height: 3em;
}

.info-window{
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  position: absolute;
  background-color: cadetblue;
  left: 33.3%;
  width: 66%;
  height: 60vh;
  z-index: 3;
  box-sizing: border-box;
    padding: 10px;
}

.close-btn-info-window{
  transition: all 1s;
  position:absolute;
  padding: 5px 10px 5px 10px;
  border: solid 2px;
  top: 0;
  right: 0;
  cursor: pointer;
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
  
}

.close-btn-info-window:hover{
  background-color: chocolate;
  
}

.table-view tr{
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.table-view tbody, thead{
  display: block;
}
/**
asi to chce breakpointy
**/



@media only screen and (max-height: 829px) {
  .table-view tbody{
    max-height: 15vh;
    overflow:auto;
  }
}

@media only screen and (min-height: 830px) {
  .table-view tbody{
    max-height: 20vh;
    overflow:auto;
  }
}

.table-view tbody{
  max-height: 15vh;
  overflow:auto;
}

.table-view th,td{
  padding-left: 10px;
  padding-right: 10px;
}

.table-view tbody td{
  max-height: 38px;
}

.table-view tbody tr:nth-child(2n+1){
  background-color: darkgreen;
}



.roles-carousel ul, .course-users ul{
  height: 40vh;
  overflow:auto;
}


.roles-carousel ul,.course-users ul{
    text-align: center;
    margin:0 0 0 1em; /* indentation */
    padding:0;
    list-style:none;
    color:#1f1f1f;
    position:relative;
}

.active{
  background-color: greenyellow !important;
}

.category-role-user-list li, .course-users li{
  background-color: darkseagreen;
  border: 2px solid;
  cursor: grabbing;
}

.category-role-user-list li:hover, .course-users li:hover{
  background-color: darkseagreen;
  border: 2px solid;
  cursor: grab;
  background-color: peru !important;
}

.category-role-user-list li:nth-child(2n+1), .course-users li:nth-child(2n+1){
  background-color: darkgreen;
}

.drop-trash{
  position: absolute;
  background-color: cadetblue;
  left: 33.3%;
  width: 66%;
  height: 5vh;
  z-index: 4;
  box-sizing: border-box;
  background-color: red;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-info h1{
  max-width: 90%;
}

.alerts-div{
  position: absolute;
  width: 100%;
  z-index: 100;
  margin-top: 3em;
}